
$brand-white: #FAFBFD;
$brand-black: #283033;
$brand-blue: #2B3AF9;
$brand-light-blue: #BFC3FD;
$brand-red: #ED5E3E;

$primary: $brand-red;
$primary-l: $brand-light-blue;
$secondary: $brand-blue;
$black: #000000;
$offblack: $brand-black;
$white: $brand-white;

$base-font: 'Raleway',Lato, "Lucida Grande", Tahoma, Sans-Serif;
$impact-font: 'aguda_reg',"Arial Bold", Lato, "Lucida Grande", Tahoma, Sans-Serif;
