.bg-gradient-blue-to-indigo
{
    @apply bg-gradient-to-r; 
    @apply from-blue;
    @apply to-indigo;
}

.bg-gradient-red-to-blue   
{
    @apply bg-gradient-to-r; 
    @apply from-red-darker;
    @apply to-blue-darker;

}


.bg-gradient-blue-to-red   
{
    @apply bg-gradient-to-r; 
    @apply from-blue-darker;
    @apply to-red-darker;

}




.border-x
{
    @include gradient-animation-border(#4E2EC0, #EE5A47, .5s);
    z-index: 0!important;
    border: double 3px transparent;
    background-origin: border-box;
    background-clip: content-box, border-box;

    &:hover
    {

        border: double 3px transparent;
                    
    }
}

.gradient-border
{
    border:double 4px transparent;
}
.gradient-border:focus
{
    border: double 4px transparent;
  @apply rounded-xl;
  background-image: linear-gradient(white, white), radial-gradient(circle at top left,#4E2EC0,#ee5a47);
  background-origin: border-box;
  background-clip: padding-box, border-box;

}

.bg-x
{
    @include gradient-animation(#4E2EC0, #EE5A47, .5s);
    z-index: 0!important;
  

    // &:hover
    // {

    //     border: double 3px transparent;
                    
    // }
}

.bg-after-darkest
{
    &::after
    {
        content:'';
        @apply w-full;
        @apply h-full;
        @apply bg-black-darker;
        @apply opacity-75;
        @apply absolute;
        @apply top-0;
        @apply left-0;
        @apply -z-10;

    }
}

.bg-after-gradient-dark-purple
{
    &::after
    {
        content:'';
        @apply bg-gradient-to-r; 
        @apply from-black-darker;
        @apply to-indigo;
        @apply w-full;
        @apply h-full;
        @apply opacity-75;
        @apply absolute;
        @apply top-0;
        @apply left-0;
        @apply z-10;

    }
}
