html
{
    @apply text-base;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    
    @apply leading-none;
    @apply font-impact;

    span
    {
        
        @apply font-impact-bold;
    }
}

h1 {
    @apply text-2xl;
    @screen sm {

        @apply text-3xl;
    }
    @screen md {
        @apply text-4xl;

    }
}

h2 {
    @apply text-3xl;
}

h3 {
    @apply text-2xl;
}

h4 {
    @apply text-xl;
}

h5 {
    @apply text-lg;
}

// h6 {
    //  @apply text-base;
// }



.link-x
{
    @apply bg-clip-text;
    @apply text-red;
    
}

.link-primary-gradient
{
    @apply bg-clip-text;
    color:transparent;
    @apply bg-gradient-to-r;
    @apply from-red;
    @apply to-blue-darker;
}

#menu-main-menu
{
    a
    {
        @apply text-white;
        transition:color .5s;
        &:hover
        {
            transition:color .5s;
            @extend .link-x;
        }
    }
}